.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #f7f7fa;
  font-family: 'Ubuntu', sans-serif;
  background-color :whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
}


.information h2
 {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  width: 300px;
  background-color: #ce8352;
  margin: auto;
  padding: 10px 0px 10px 0px;
  border-radius: 15px 15px 15px 15px;
  border-color: black;
  font-family: 'Times New Roman', Times, serif;
  
 }

.information {

  background-color:rgba(99, 40, 13, 0.2);
  width: 600px;
  margin: auto;
  height: 750px;
  
}
  
label{
  font-size: 25px;
  width: 150px;
  display: inline-block;
  text-align: right;
  color: black;
  font-size: large;
  font-weight: bold;
   

}


input {
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  outline: none;
   width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 50px;
  margin: 10px;
  color: #111111;
 

}

 button {
  
  position: relative;
  padding: 15px 0px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  background: #ce8352;
  display: block;
  margin : 0 auto;
  width: 20%;
  color:black;
  border-radius: 20px;

} 

 button:hover {
  cursor: pointer;
  background-color: rgb(30, 207, 220);
}



